<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founder: Chris</title>
    <link rel="stylesheet" href="../css/people.css">
</head>
<body>
    <div><%- include("../nav.ejs") %></div>
        <h1><%= chris.position %>: <%= chris.name %> </h1>
        <hr>
    <main>
        <h2>Bio: <%= chris.bio %></h2>
        <ul>
            <li>Age: <%= chris.age %></li>
            <li> Contact Information: <%= chris.email %></li>
        </ul>
    </main>
</body>
</html>