<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founder: Chris</title>
</head>
<body>
    <%- include("../nav.ejs") %>
    <h1><%= chris.position %>: <%= chris.name %> </h1>
    <h2>Bio: <%= chris.bio %></h2>
    <ul>
        <li>Age: <%= chris.age %></li>
        <li> Contact Information: <%= chris.email %></li>
    </ul>
</body>
</html>