<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Tech: Courtney</title>
</head>
<body>
    <%- include("../nav.ejs") %>
    <h1><%= courtney.position %>: <%= courtney.name %> </h1>
    <h2>Bio: <%= courtney.bio %></h2>
    <ul>
        <li>Age: <%= courtney.age %></li>
        <li> Contact Information: <%= courtney.email %></li>
    </ul>
</body>
</html>