<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founder: Karlon</title>
</head>
<body>
    <%- include("../nav.ejs") %>
    <h1><%= karlon.position %>: <%= karlon.name %> </h1>
    <h2>Bio: <%= karlon.bio %></h2>
    <ul>
        <li>Age: <%= karlon.age %></li>
        <li> Contact Information: <%= karlon.email %></li>
    </ul>
</body>
</html>