<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Designer: Kim</title>
</head>
<body>
    <%- include("../nav.ejs") %>
    <h1><%= kim.position %>: <%= kim.name %> </h1>
    <h2>Bio: <%= kim.bio %></h2>
    <ul>
        <li>Age: <%= kim.age %></li>
        <li> Contact Information: <%= kim.email %></li>
    </ul>
</body>
</html>